{% extends "!layout.html" %}
{% block rootrellink %}
  <li><a target="_blank" href="http://cfpython.bitbucket.org">cf-python</a> &raquo;</li>
  <li><select onchange="location = this.options[this.selectedIndex].value;">

      <option value="{{ pathto("../../0.9.9/build/index.html", 1) }}"
              {%- if release == "0.9.9" %}selected{% endif %}>0.9.9

      <option value="{{ pathto("../../0.9.8/build/index.html", 1) }}"
              {%- if release == "0.9.8" %}selected{% endif %}>0.9.8

      <option value="{{ pathto("../../0.9.7/build/index.html", 1) }}"
              {%- if release == "0.9.7" %}selected{% endif %}>0.9.7

      <option value="{{ pathto("../../0.9.6/build/index.html", 1) }}"
              {%- if release == "0.9.6" %}selected{% endif %}>0.9.6

      <option value="{{ pathto("../../0.9.5/build/index.html", 1) }}"
              {%- if release == "0.9.5" %}selected{% endif %}>0.9.5

      <option value="{{ pathto("../../0.9.5.dev/build/index.html", 1) }}"
              {%- if release == "0.9.5.dev" %}selected{% endif %}>0.9.5.dev

      <option value="{{ pathto("../../archive.html", 1) }}">Archive

      </select>
  </li>
  {{ super() }}
{% endblock %}

